<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <div class="d-flex flex-column align-items-start">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link nav-link-account active" aria-current="page" href="{{ path('app_account') }}">
                        <i class="bi bi-person"></i> My Account
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-account" href="">
                        <i class="bi bi-box-seam"></i> My Orders
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-account" href="{{ path('app_account_addresses') }}">
                        <i class="bi bi-geo-alt"></i> My Addresses
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-account" href="{{ path('app_account_change_password') }}">
                        <i class="bi bi-gear"></i> Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-account text-danger" href="{{ path('app_logout') }}">
                        <i class="bi bi-box-arrow-right"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
