<nav class="navbar navbar-expand-lg bg-white shadow rounded-3" data-controller="navbar-dropdown">
    <!-- Overlay -->
    <div id="menuOverlay" class="menu-overlay"></div>

    <!-- Navbar Mobile Fixe -->
    {{ include('partials/mobile/_navbar_mobile.html.twig') }}

    <!-- Menu Mobile Modal -->
    {{ include('partials/mobile/_menu_mobile.html.twig') }}

    <!-- User Menu Mobile Modal -->
    {{ include('partials/mobile/_user_menu_mobile.html.twig') }}

    <!-- Navbar Desktop -->
    {{ include('partials/desktop/_navbar_desktop.html.twig') }}
</nav>
