.bg-footer {
    background: linear-gradient(145deg, #1E1E2E, #2A2A3A);
}

.text-orange-gamer {
    color: #FF4500;
}

.footer-social {
    color: white;
    font-size: 18px;
    transition: color 0.3s;
    text-shadow: #FF4500 0px 0px 8px;
    text-decoration: none;
}

.footer-social:hover {
    color: #FF4500;
    text-shadow: #FF4500 0px 0px 10px;
}

.footer-link {
    color: #FF4500;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-link:hover {
    color: white;
}
